<%- include("./partials/header") %>
<div class="container" id="container_registrar">
    <div class="card center" id="cadastroMulheres">
        <div class="row">
            <form class="col s12" method="POST" action="<%= formAction %>" enctype="multipart/form-data">
                <div class="row">                   
                    <% if(typeof alert != 'undefined'){ %>
                        <% alert.forEach(function(error){ %>
                          <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            <%= error.msg %>
                          </div>
                        <% }) %>
                      <% } %>
                    <h1 class="center">
                            Cadastre sua inspiração
                    </h1>
                    <span>Realize o cadastro de uma mulher que inspire.</span>
                </div>
                <div class="row">
                <div class="input-field col s6">
                    <input value="<%= mulher.nome %>" id="nome" type="text" class="validate" name="nome">
                    <label for="nome">Primeiro Nome</label>
                </div>
                <div class="input-field col s6">
                    <input value="<%= mulher.sobrenome %>" id="sobrenome" type="text" class="validate" name="sobrenome">
                    <label for="sobrenome">Sobrenome</label>
                </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= mulher.link %>" id="link" type="text" class="validate" name="link">
                        <label for="link">Insira o link do artigo</label>
                    </div>
                    <div class="input-field col s6">
                        <input value="<%= mulher.pais %>" id="pais" type="text" class="validate" name="pais">
                        <label for="pais">Insira o país de origem</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select id="genero" name="genero">
                            <option value="" disabled selected>Selecione uma Categoria</option>
                            <option <%= (mulher.genero == "ciencia")?'selected="selected"':'' %> value="ciencia">Ciência</option>
                            <option <%= (mulher.genero == "arte")?'selected="selected"':'' %> value="arte">Artes</option>
                            <option <%= (mulher.genero == "social")?'selected="selected"':'' %> value="social">Social</option>
                          </select>
                    </div>
                    <div class="input-field col s6">
                        <input value="<%= mulher.dataFormatada %>" id="data_nascimento" type="date" class="validate" name="data_nascimento">
                        <label for="data_nascimento">Data de nascimento</label>
                    </div>
                </div>
                 <div class="row">
                <div class="input-field col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea2" class="materialize-textarea" data-length="400" name="descricao"><%= mulher.descricao %></textarea>
                            <label for="descricao">Descrição</label>
                        </div>
                    </div>
                </div>
                </div>
                
                <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" id="imagem" name="imagem">
                    </div>
                    <div class="file-path-wrapper">
                      <input value="<%= mulher.imagem %>" class="file-path validate" type="text" id="imagem" name="imagem">
                    </div>
                </div>
                <div class="col l8 offset-l2 s12 center" id="botoes_registrar">
                    <a href="/" class="waves-effect teal lighten-2  btn">Voltar</a>
                    <button type="submit" class="waves-effect blue darken-1 btn"> <%= buttonMessage %></button>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
<%- include("./partials/footer") %>